<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Ustozlar</title>
</head>
<body>
<h1>Ustozlar royxati</h1>
<form  method="get">
  <input type="text" name="search"  value="{{search_param}}" placeholder="Ism kiriting">
  <button type="submit" >Qidirish </button>
</form>
<hr>
{%for ustoz in ustozlar%}
    <p>
        {{forloop.counter}}.
        <a href="/ustoz/{{ustoz.id}}">{{ustoz.ism}}</a>
    </p>
{%endfor%}
<hr>
<h2>Yangi Ustoz qoshish</h2>
<form method="post">
    {%csrf_token%}
    {{ form.as_p }}
    <button>Saqlash</button>
    <a href="/ustozlar/{{ustoz.id}}/update"><button>Update</button></a>
</form>
</body>
</html>