<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yonalishlar</title>
</head>
<body>
<h2>Yangi Yonalish qoshish</h2>
<form method="post">
    {%csrf_token%}
    <label for="nom">Nom:</label>
    <input type="text" name="nom" id="nom" required>
    <br><br>
    <label for="aktiv">Aktiv: </label>
    <input type="text" name="aktiv" id="aktiv" required>
</form>
<hr>
<h1>Yonalishlar royxati</h1>
{%for yonalish in yonalishlar%}
    <p>
        {{forloop.counter}}.{{yonalish.nom}}
    </p>
{%endfor%}

</body>
</html>